.Navigation_Container {
  box-sizing: border-box;
  background-color: #0f0f0f;
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.Navigation_Wrapper {
  box-sizing: border-box;
  background-color: #0f0f0f;
  max-height: 100%;
  aspect-ratio: 1/1.8;
  border: 3px solid #fff;
  border-radius: 6px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

.Nav_Title {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 3.5rem;
  color: #fff;
  margin: 0;
  height: fit-content;
}

@media only screen and (min-width: 401px) {
  .Nav_Title {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media only screen and (min-width: 501px) {
  .Nav_Title {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
}

@media only screen and (min-width: 601px) {
  .Nav_Title {
    font-size: 5rem;
    line-height: 5rem;
  }
}

@media only screen and (min-width: 751px) {
  .Nav_Title {
    font-size: 5.5rem;
    line-height: 5.5rem;
  }
}


@media only screen and (min-width: 1921px) {
  .Nav_Title {
    font-size: 6rem;
    line-height: 6rem;
  }
}

.Nav_Buttons_Container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 2rem;
}

.Nav_Button_Containet {
  width: fit-content;
  height: fit-content;
}

.Nav_Button {
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  background-color: #0f0f0f;
  margin: 0;
  color: #fff;
}

.Nav_Button:hover {
  background-color: #fff;
  color: #0f0f0f;
}

.Nav_Button h2 {
  font-size: 2rem;
  font-weight: 700;
}

.Nav_Info p {
  font-size: 1rem;
}
