.Header_Container {
  width: 100%;
  height: 4rem;
  background-color: rgba(15, 15, 15, 0.1);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  z-index: 2;
}

.NextTurn_Button {
    height: 100%;
    aspect-ratio: 1/1;
    color: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid transparent;
    border-radius: 1.5rem;
    box-sizing: border-box;
    gap: 12px;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 6px 12px;
}

.Menu_Button {
  height: 100%;
  aspect-ratio: 1/1;
  color: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid transparent;
  border-radius: 1.5rem;
  box-sizing: border-box;
  gap: 12px;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 6px;
}