.Header_Container {
  width: 100%;
  height: 4rem;
  background-color: rgba(15, 15, 15, 0.1);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 6px;
  z-index: 2;
}

.GoToStart_Button {
  height: 100%;
  aspect-ratio: 2/1;
  color: #0f0f0f;
  display: flex;
  justify-content: left;
  align-items: center;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 700;
  padding-left: 3px;
}

.Menu_Button {
  height: 100%;
  aspect-ratio: 1/1;
  color: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-weight: 700;
}