.About_Container {
    width: 100%;
    height: calc(100% - 4rem);
    box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
    overflow-y: hidden;
  }
  
  .About_Wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 2rem;
    padding-bottom: 1rem;
    position: relative;
  }