.About_Container {
    width: 100%;
    height: calc(100% - 4rem);
    box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
    overflow-y: hidden;
  }
  
  .About_Wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 2rem;
    padding-bottom: 1rem;
    position: relative;
  }

  .About_Wrapper h3 {
    color: #0f0f0f;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.7rem;
  }

  .About_Wrapper h4 {
    color: #0f0f0f;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
  }

  .About_Wrapper p {
    color: #0f0f0f;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin-top: 1rem;
  }


