.Playfield_Container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
  overflow-y: hidden;
}

.Playfield_Wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 58px;
  padding-bottom: 1rem;
  position: relative;
}

.BlackCard_Placement {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.Selected_WhiteCards_Placement {
  width: 100%;
  height: fit-content;
  position: absolute;
  top: 40%;
  right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.WhiteCards_Placement {
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  padding: 1rem;
  gap: 1.5rem;
  box-sizing: border-box;
  background: rgb(15, 15, 15);
  background: linear-gradient(
    0deg,
    rgba(15, 15, 15, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
